.body {
    white-space: nowrap;
    word-break: keep-all;
}

.inner {
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
}

.title {

    width: 100%;
    margin: 0 auto 40px auto;
}

h2 {

    font-size: 32px;
    font-weight: 800;
    margin: 0 0 16px 0;
}

p {

    font-size: 14px;
    font-weight: 500;
    color: #77797a;
    line-height: 24px;

}

strong {}